
/* Container für die Fortschrittsanzeige */
.progress-bar {
    width: 30%;
    background-color: #e0e0e0; /* Hellgrauer Hintergrund */
    border-radius: 5px; /* Abgerundete Ecken */
    overflow: hidden; /* Inhalt, der über den Rand hinausgeht, wird abgeschnitten */
    position: relative; /* Position für den Text */
    margin: 1rem auto;
  }  
  /* Fortschrittsbalken */
  .progress {
    height: 2rem; /* Höhe des Fortschrittsbalkens */
    width: 0; /* Initiale Breite des Fortschrittsbalkens */
    transition: width 0.5s, background-color 0.5s; /* Übergangseffekt für die Breite und Farbe */
    display: flex; /* Flexbox für zentrierten Text */
    align-items: center; /* Zentrierung des Textes */
    justify-content: center; /* Zentrierung des Textes */
  }  
  /* Text innerhalb des Fortschrittsbalkens */
  .progress-text {
    color: black; 
    font-weight: 900;
    font-size: 1.5rem;
    text-shadow: 1px 1px 1px white;
  }
  /* Icon innerhalb des Fortschrittsbalkens */
  .progress-icon {
    margin-left: 10px; /* Abstand zum Text */
    font-size: 1.5rem; /* Größe des Icons */
  }
